@use 'variables';

@font-face {
  font-family: Orbitron;
  src: url(/assets/fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Orbitron;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/assets/images/bg.webp');
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  padding: 30px;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #eaeaea;
  margin-top: 40px;
}

.loading {
  width: 40%;
  margin: auto;
  .per {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .title {
      font-size: 26.31px;
      font-weight: 400;
    }
  }
}

.percent {
  font-size: 50.98px;
  font-weight: 400;
}

.encode {
  font-size: 16.45px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.61);
}
.progressBar {
  background-color: rgba(255, 255, 255, 0.19);
  height: 8px;
  width: 100%;
  border-radius: 10px;
}

.progress {
  background-color: variables.$mainColor;
  width: 40%;
  height: 8px;
  border-radius: 10px;
}
.selection {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  .characters {
    .options {
      display: flex;
    }
    .selected img {
      width: 100px;
      height: 150px;
      position: relative;
    }
    .selected::before {
      content: '<';
      text-align: center;
      position: relative;
      top: 75px;
      left: -40px;
      height: 30px;
      width: 30px;
      transform: translateY(15px);
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
    .selected::after {
      content: '>';
      text-align: center;
      position: relative;
      top: -75px;
      left: 110px;
      height: 30px;
      width: 30px;
      transform: translateY(-20px);
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
  }
}

.options img {
  width: 70px;
  height: 70px;
}

.char-info {
  color: white;
  div:nth-child(1) {
    font-size: 10px;
    font-weight: 400;
  }
  div:nth-child(2) {
    background-color: variables.$mainColor;
    padding: 3px;
    border-radius: 0 20px 0 0;
    corner-shape: bevel;
    color: black;
    font-weight: 700;
  }
  div:nth-child(3) {
    margin-top: 5px;
    font-size: 48px;
    font-weight: 400;
  }
  div:nth-child(4) {
    font-size: 10px;
    font-weight: 400;
  }
}

.details {
  width: 50%;
  .description {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.7;
  }
  .choose {
    margin: 10px;
    background-color: variables.$mainColor;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    a {
      text-decoration: none;
    }
  }
}
