@use "../variables";

@font-face {
  font-family: Orbitron;
  src: url(/assets/fonts/Orbitron-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Orbitron;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/images/bg.webp");
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  padding: 30px;
  width: 100vw;
  height: 100vh;
}
